<h1>BLOG DAY</h1>
   <% if user_signed_in? %>
    <span>
   <% if current_user.first_name.blank?%>

      <span>Добро пожаловать!</br> </br> В целях обеспечения безопасности,заполните полностью аккаунт. Это поможет вам для его дальнейшего редактирования. 
     </br>   <br>  Для этого добавьте свои персональные данные, перейдя по ссылке "Редактировать профиль"</br> 
   <% else%>
   <span>Здравствуйте,
    <%= current_user.first_name%> <%= current_user.last_name%></span><br>
   <% end%>
    </br>
     <span>Ваш адрес электронной почты: 
    <%= current_user.email %></span>
 </br>
   <p><a href="/articles/">Перейти к моим статьям</a></p>
   <p><a href="/draft/">Перейти к моим черновикам</a></p>
  </br>   <%= link_to 'Редактировать профиль', edit_user_registration_path, :class => 'navbar-link'%></br>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <p><a href="/articles/">Пере</a></p>
<% end %>
<p>All articles</p>
Our blog has <%= @articles.count %> articles and counting!
<ul>
  <% @articles.each do |article| %>
    <% unless article.draft? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul> 